*{
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    font-size: 20px;
    font-weight: 600;
    color: #FFF;
    padding: 20px 25px;
    border-radius: 8px;
    background: #FF900E;
    border: 0;
}
.text-light-gray{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color:  #727272;
}
header{
     padding: 50px 240px;
    background: rgba(255, 144, 14, 0.10);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav > ul{
    list-style: none;
    display: flex;
   
}
nav li{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500;
    color:  #424242;
}
nav li a{
    text-decoration: none;
}
.section-title{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

/* content style */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner img{
    margin-top: 20px;
    width: 100%;
}

/* main styles */
main{
    max-width: 1440px;
    margin: 0 auto;
}
.teams-container{
    display: flex;
    align-items: center;
    
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.teams-contents{
    padding-right: 70px;
   padding-left: 70px;
}
.teams-title{
    font-size: 2.8rem;

}
.teams-title .quick-list{
    color: #727272;
    font-weight: 500;
}
.teams-title .of-our{
    color:  #131313;
    font-weight: 700;
}
.teams-title .feature{
    color: #FF900E;
    font-weight: 700;
}
/* facts saction */

.facts-card-container{
    display: flex;
    justify-content: space-around;
   

}
.facts-card-container .card{
    border-radius: 8px;
   border: 1px solid #FF900E;
   text-align: center;
   padding: 30px;
}
.facts-card-container .card-title{
    font-weight: 600;
    margin-top: 5px;
}
.facts-card-container .card-stats{
    font-size: 2.8rem ;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-title{
    color:  #727272;
}
/* sponsors style */
.sponsors{
    text-align: center;
}
.sponsor-img-container{
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}
.sponsor-img-container img{
    width: 165px;
    height: 50px;
}

/* responsiv medjia querie */

@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .teams-container,
     .facts-card-container,
     .sponsor-img-container{
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-contents,
    .facts-card-container{
        padding-right: 20px;
       padding-left: 20px;
    }
    .facts-card-container{
        gap: 20px;
    }
    
}


/* tablat or medium device */
@media screen and (min-width: 577px) and (max-width: 960px) {

     header{
        padding: 50px;
    }
    nav, .teams-container,
    .sponsor-img-container {
        flex-direction: column;
    }
}











